In [226]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [227]:
#set that time slot by vendor time_slot input

In [228]:
df = pd.DataFrame(pd.date_range("06:00","18:45",freq='15T').time,columns=['start_time'])

In [229]:
#Convert datetime to string with AM or PM

In [230]:
def convert_time(get_time):
    return get_time.strftime("%I:%M %p")

In [231]:
df['start_time'] = df['start_time'].apply(lambda x : convert_time(x))

In [232]:
df.head(1)['start_time'].values[0]

'06:00 AM'

In [233]:
given_time = datetime.strptime(df.head(1)['start_time'].values[0], "%I:%M %p")

In [234]:
start_time_given = given_time + timedelta(minutes=45)

In [235]:
start_time_given = start_time_given.strftime('%I:%M %p')

In [236]:
start_time_given

'06:45 AM'

In [237]:
end_time = datetime.strptime(df.tail(1)['start_time'].values[0], "%I:%M %p")

In [238]:
end_time_given = end_time + timedelta(minutes=45)

In [239]:
end_time_given = end_time_given.strftime('%I:%M %p')

In [240]:
end_time_given

'07:30 PM'

In [241]:
new_df = pd.DataFrame(pd.date_range(start_time_given,end_time_given,freq='15T').time,columns=['actual_time'])

In [242]:
new_df['actual_time'] = new_df['actual_time'].apply(lambda x : convert_time(x))

In [243]:
concat_both_time = pd.concat([df,new_df],axis=1)

In [248]:
concat_both_time

   start_time actual_time
0    06:00 AM    06:45 AM
1    06:15 AM    07:00 AM
2    06:30 AM    07:15 AM
3    06:45 AM    07:30 AM
4    07:00 AM    07:45 AM
5    07:15 AM    08:00 AM
6    07:30 AM    08:15 AM
7    07:45 AM    08:30 AM
8    08:00 AM    08:45 AM
9    08:15 AM    09:00 AM
10   08:30 AM    09:15 AM
11   08:45 AM    09:30 AM
12   09:00 AM    09:45 AM
13   09:15 AM    10:00 AM
14   09:30 AM    10:15 AM
15   09:45 AM    10:30 AM
16   10:00 AM    10:45 AM
17   10:15 AM    11:00 AM
18   10:30 AM    11:15 AM
19   10:45 AM    11:30 AM
20   11:00 AM    11:45 AM
21   11:15 AM    12:00 PM
22   11:30 AM    12:15 PM
23   11:45 AM    12:30 PM
24   12:00 PM    12:45 PM
25   12:15 PM    01:00 PM
26   12:30 PM    01:15 PM
27   12:45 PM    01:30 PM
28   01:00 PM    01:45 PM
29   01:15 PM    02:00 PM
30   01:30 PM    02:15 PM
31   01:45 PM    02:30 PM
32   02:00 PM    02:45 PM
33   02:15 PM    03:00 PM
34   02:30 PM    03:15 PM
35   02:45 PM    03:30 PM
36   03:00 PM    03:45 PM
37   03:15 PM    04:00 PM
38   03:30 PM    04:15 PM
39   03:45 PM    04:30 PM
40   04:00 PM    04:45 PM
41   04:15 PM    05:00 PM
42   04:30 PM    05:15 PM
43   04:45 PM    05:30 PM
44   05:00 PM    05:45 PM
45   05:15 PM    06:00 PM
46   05:30 PM    06:15 PM
47   05:45 PM    06:30 PM
48   06:00 PM    06:45 PM
49   06:15 PM    07:00 PM
50   06:30 PM    07:15 PM
51   06:45 PM    07:30 PM