In [368]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta

In [369]:
take_time_list = ['06:00 AM','06:30 AM','06:45 AM','07:00 AM','07:15 AM']

In [370]:
time_slot_df = pd.DataFrame({"15t_Slot":take_time_list})

In [371]:
time_slot_df

   15t_Slot
0  06:00 AM
1  06:30 AM
2  06:45 AM
3  07:00 AM
4  07:15 AM

In [372]:
get_vendor_df = pd.DataFrame([{"Service_Class":"Manicure","Service_start_time":"06:00 AM","Service_Hours":45,"Service_end_time":""},{"Service_Class":"Pedicure","Service_start_time":"","Service_Hours":60,"Service_end_time":""},{"Service_Class":"Hair Cut","Service_start_time":"","Service_Hours":90,"Service_end_time":""}])

In [373]:
get_vendor_df

  Service_Class Service_start_time  Service_Hours Service_end_time
0      Manicure           06:00 AM             45
1      Pedicure                                60
2      Hair Cut                                90

In [374]:
concat_both_df = pd.concat([time_slot_df,get_vendor_df],axis=1)

In [375]:
concat_both_df.dropna(inplace=True)

In [376]:
concat_both_df['Service_Hours'] = concat_both_df['Service_Hours'].astype(int)

In [377]:
# concat_both_df.replace("",np.nan,inplace=True)

In [378]:
concat_both_df

   15t_Slot Service_Class Service_start_time  Service_Hours Service_end_time
0  06:00 AM      Manicure           06:00 AM             45
1  06:30 AM      Pedicure                                60
2  06:45 AM      Hair Cut                                90

In [379]:
concat_both_df['Service_start_time']=concat_both_df['Service_start_time'].fillna(concat_both_df['15t_Slot'])

In [380]:
concat_both_df

   15t_Slot Service_Class Service_start_time  Service_Hours Service_end_time
0  06:00 AM      Manicure           06:00 AM             45
1  06:30 AM      Pedicure                                60
2  06:45 AM      Hair Cut                                90

In [381]:
concat_both_df

   15t_Slot Service_Class Service_start_time  Service_Hours Service_end_time
0  06:00 AM      Manicure           06:00 AM             45
1  06:30 AM      Pedicure                                60
2  06:45 AM      Hair Cut                                90

In [382]:
def settime(x):
    
    return datetime.strptime(x,"%I:%M %p")

In [383]:
# concat_both_df['Service_end_time'] = concat_both_df['Service_start_time'].apply(lambda x : settime(x))

In [384]:
# concat_both_df['Service_Hours'] = pd.to_timedelta(concat_both_df['Service_Hours'],unit='m')

In [385]:
# concat_both_df['End_Time'] = concat_both_df['Service_end_time'] + concat_both_df['Service_Hours']

In [386]:
# concat_both_df['End_Time'] = concat_both_df['End_Time'].apply(lambda x : x.strftime("%I:%M %p"))

In [387]:
concat_both_df['new_hours_to_add'] = pd.to_timedelta(concat_both_df['Service_Hours'],unit='m')
concat_both_df

,15t_Slot,Service_Class,Service_start_time,Service_Hours,Service_end_time,new_hours_to_add
0,06:00 AM,Manicure,06:00 AM,45,,0 days 00:45:00
1,06:30 AM,Pedicure,,60,,0 days 01:00:00
2,06:45 AM,Hair Cut,,90,,0 days 01:30:00

In [388]:
initial_time = datetime.strptime(concat_both_df['Service_start_time'].values[0],"%H:%M %p").strftime("%H:%M:%S")
initial_time

'06:00:00'

In [389]:
concat_both_df['new_hours_to_add'] = concat_both_df['new_hours_to_add'].astype(str)

In [390]:
initial_start_time = pd.to_timedelta('06:00:00')

In [391]:
concat_both_df['new_hours_to_add'] = concat_both_df['new_hours_to_add'].map(lambda x : x[7:])

In [392]:
time_to_add = concat_both_df['new_hours_to_add'].to_list()

In [393]:
time_to_add

['00:45:00', '01:00:00', '01:30:00']

In [394]:
concat_both_df['time_to_add'] = time_to_add
concat_both_df['end_time'] = [initial_start_time + x for x in np.cumsum(time_to_add)]
concat_both_df['start_time'] = [initial_start_time] + list(df['end_time'][:-1])

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U8'), dtype('<U8')) -> None

In [395]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
initial_start_time = pd.to_timedelta('06:00:00')
time_to_add = ['00:45:00', '01:00:00', '01:30:00']
time_to_add = [pd.to_timedelta(x) for x in time_to_add]

df['time_to_add'] = time_to_add
df['end_time'] = [initial_start_time + x for x in np.cumsum(time_to_add)]
df['start_time'] = [initial_start_time] + list(df['end_time'][:-1])

df = df[['start_time', 'time_to_add', 'end_time']]

In [396]:
df

       start_time     time_to_add        end_time
0 0 days 06:00:00 0 days 00:45:00 0 days 06:45:00
1 0 days 06:45:00 0 days 01:00:00 0 days 07:45:00
2 0 days 07:45:00 0 days 01:30:00 0 days 09:15:00