In [1]:
import pandas as pd

In [2]:
from datetime import datetime
s1 = '10:33:26'
s2 = '11:15:49' # for example
FMT = '%H:%M:%S'
tdelta = datetime.strptime(s2, FMT) - datetime.strptime(s1, FMT)

In [3]:
print(tdelta)

0:42:23

In [4]:
from datetime import datetime
from dateutil import relativedelta

##Aug 7 1989 8:10 pm
date_1 = datetime(1989, 8, 7, 20, 10)

##Dec 5 1990 5:20 am
date_2 = datetime(1990, 12, 5, 5, 20)

#This will find the difference between the two dates
difference = relativedelta.relativedelta(date_2, date_1)

years = difference.years
months = difference.months
days = difference.days
hours = difference.hours
minutes = difference.minutes

print("Difference is %s year, %s months, %s days, %s hours, %s minutes " %(years, months, days, hours, minutes))

Difference is 1 year, 3 months, 27 days, 9 hours, 10 minutes

In [5]:
df = pd.DataFrame(pd.date_range(start='07:00', end='10:00',periods=10).time,columns=['Start'])

In [6]:
df['Start'] = df['Start'].astype(str)

In [7]:
df['DataFrame Column'] = df['Start'].apply(lambda x : datetime.strptime(x,"%H:%M:%S"))

In [8]:
df['DataFrame Column'].values[0]

numpy.datetime64('1900-01-01T07:00:00.000000000')

In [9]:
# difference = relativedelta.relativedelta(df['DataFrame Column'].values[1], df['DataFrame Column'].values[0])

In [10]:
start_time = '07:00 AM'
end_time = '10:45 AM'

In [11]:
start = datetime.strptime(start_time,'%H:%M %p')
end = datetime.strptime(end_time,'%H:%M %p')
start

datetime.datetime(1900, 1, 1, 7, 0)

In [12]:
difference = relativedelta.relativedelta(end, start)

In [13]:
difference.minutes

45

In [ ]:
https://amalgjose.com/2015/02/19/python-code-for-calculating-the-difference-between-two-time-stamps/

In [5]:
df = pd.DataFrame({'start':['2015-10-02','2014-11-05'],
                   'end':['2018-01-02','2018-10-05']})

df['start'] = pd.to_datetime(df['start'])
df['end'] = pd.to_datetime(df['end'])

from dateutil.relativedelta import relativedelta

df['y'] = df.apply(lambda x: relativedelta(x['end'], x['start']).years, axis=1)

In [6]:
df

       start        end  y
0 2015-10-02 2018-01-02  2
1 2014-11-05 2018-10-05  3